@import "Hamburger";
@import "ConfigTable";
@import "CodeSnippet";
@import "Zenburn";

.cxe-import {
    font-family: 'Consolas', monospace;
    font-size: 0.65em;
    float: right;

    @media(max-width: 767px) {
        display: none;
    }
}
